<div class = 'content-header user-increase'>
    <div class = 'adds'>
        <div class = 'header-text-content'>
            <p> Captain  <span>Jack Sparrow</span> </p>
            <p> Deine Schatztruhe fullt sich von selbst </p>
        </div>
        <div class = 'header-img-content'>
            <img src="../../../../assets/images/system_icons/goldbox.png">
        </div>
    </div>
</div>

<mat-tab-group>
    <mat-tab>
            <ng-template mat-tab-label>
                <div>
                    Anlegen
                </div>
            </ng-template>
            <ng-container>
                <app-increase-tab1> </app-increase-tab1>
            </ng-container>
    </mat-tab>
    
    <mat-tab>
        <ng-template mat-tab-label>
            <div>
                Trading
            </div>
        </ng-template>
        <ng-container>
            <app-increase-tab2> </app-increase-tab2>
        </ng-container>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <div>
                Fonds
            </div>
        </ng-template>
        <ng-container>
            <app-increase-tab3> </app-increase-tab3>
        </ng-container>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <div>
                Fitness-Quiz
            </div>
        </ng-template>
        <ng-container>
            <app-increase-tab4> </app-increase-tab4>
        </ng-container>
    </mat-tab>
</mat-tab-group>