@import "~src/assets/styles/variables";

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 3px 6px 2px rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  width: 112px;
  height: 100%;
  padding-bottom: 10px;
  z-index: 1;
}

.sidebar-item {
  display: block;
  text-align: center;
  padding-top: 24px;
  position: relative;
}

.pocit-svg-icon:focus,
.sidebar-item,
.content-group-title {
  outline: none !important;
  border: 0 !important;
}
.content-group-title {
  cursor: pointer;
}

.sidebar-item:hover svg path,
.sidebar-item:hover,
.icon-active svg,
.icon-active svg path,
.icon-active {
  color: $C1 !important;
  fill: $C1 !important;
}

.icon-cim svg path,
.icon-cim svg,
.icon-cim {
  color: $C12;
  fill: $C12;
}

.icon-instrument-module.icon-active svg,
.sidebar-item .icon-instrument-module svg {
  path:nth-of-type(3) {
    fill: #fff !important;
  }
  path:nth-of-type(5) {
    fill: #fff !important;
  }
  path:nth-of-type(6) {
    fill: #fff !important;
  }
}

.icon-cim {
  font-size: 32px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.badge[data-count]:after {
  content: attr(data-count);
  position: absolute;
  height: 25px;
  top: 10px;
  right: -10px;
  width: 25px;
  text-align: center;
  font-size: 17px;
  border-radius: 50%;
  color: white;
  line-height: 1.5;
  background: red;
}
