<mat-nav-list>
    <div>
        <a routerLinkActive="active-link" mat-list-item [routerLink]="'/users/home'">
            <mat-icon svgIcon="home">
            </mat-icon>
            <p>Home</p>
            
        </a>
    </div>

    <div>
        <a routerLinkActive="active-link" mat-list-item [routerLink]="'/users/save'">
            <mat-icon svgIcon="home"></mat-icon>
            <p>Sparen</p>
        </a>
    </div>

    <div>
        <a routerLinkActive="active-link" mat-list-item [routerLink]="'/users/payment'">
            <mat-icon svgIcon="home"></mat-icon>
            <p>Sahlungsmittel</p>
        </a>
    </div>

    <div>
        <a routerLinkActive="active-link" mat-list-item [routerLink]="'/users/increase'">
            <mat-icon svgIcon="home"></mat-icon>
            <p>Geld vermehren</p>
        </a>
    </div>
    <div class="sidebar-foot">
        <mat-form-field>
            <input matInput >
            <mat-icon svgIcon="message"></mat-icon> 
        </mat-form-field>
    </div>
</mat-nav-list>