<!--The content below is only a placeholder and can be replaced.-->
<div class="header-toolbar">
    <!-- <app-toolbar></app-toolbar> -->
</div>
<router-outlet></router-outlet>

<div class="modal-controls">
    <button mat-raised-button (click)="refresh_joke()" data-access-id='confirm-btn-refresh' id='confirm-btn-refresh'
    i18n="@@home-component.confirm-btn-refresh">Refresh User</button>

    <button mat-button mat-raised-button color="primary" (click)="modal_dialog()"
    data-access-id='confirm-btn-showdialog' id='confirm-btn-showdialog'
    i18n="@@home-component.confirm-btn-showdialog"> Show Dialog  </button>

    <button mat-raised-button (click)="changeuser('supplier')" data-access-id='confirm-btn-useprofile' id='confirm-btn-useprofile'
    i18n="@@home-component.confirm-btn-useprofile">Use Supplier Profile</button>

    <button mat-raised-button (click)="changeuser('user')" data-access-id='confirm-btn-useadmin' id='confirm-btn-useadmin'
    i18n="@@home-component.confirm-btn-useadmin">Use User Profile</button>

    <button mat-button mat-raised-button color="primary" (click)="show_state()"
    data-access-id='confirm-btn-showstate' id='confirm-btn-showdialog'
    i18n="@@home-component.confirm-btn-showstate"> Show State  </button>

    <button mat-button mat-raised-button color="primary" (click)="add_state()"
    data-access-id='confirm-btn-showstate' id='confirm-btn-showdialog'
    i18n="@@home-component.confirm-btn-showstate"> New State  </button>

    <button mat-button mat-raised-button color="primary" (click)="new_user()"
    data-access-id='confirm-btn-showstate' id='confirm-btn-showdialog'
    i18n="@@home-component.confirm-btn-showstate"> New User  </button>

    <button mat-raised-button (click)="show_snackbar()" data-access-id='confirm-btn-snackbar-success' id='confirm-btn-snackbar-success'
    i18n="@@home-component.confirm-btn-snackbar-success">Show Snackbar</button>

    <button mat-raised-button (click)="show_snackbarError()" data-access-id='confirm-btn-snackbar-error' id='confirm-btn-snackbar-error'
    i18n="@@home-component.confirm-btn-snackbar-error">Show Snackbar Error</button>

</div>
