<div class = 'sub-content'>
    <app-title-text *ngIf = 'smallcol' [data] = "smallcol"> </app-title-text>

    <div class = 'chart-row'>
        <app-dounut-single-color-chart [title] = "'Budgetieren'" [pieName] = "'pie1'" [pieValue] = "'75'"></app-dounut-single-color-chart>
        <app-dounut-single-color-chart [title] = "'Sparen'" [pieName] = "'pie2'" [pieValue] = "'25'"></app-dounut-single-color-chart>
    </div>

    <div class = 'chart-row'>
        <app-dounut-single-color-chart [title] = "'Budgetieren'" [pieName] = "'pie3'" [pieValue] = "'68'"></app-dounut-single-color-chart>
        <app-dounut-single-color-chart [title] = "'Sparen'" [pieName] = "'pie4'" [pieValue] = "'68'"></app-dounut-single-color-chart>
        <app-dounut-single-color-chart [title] = "'Sparen'" [pieName] = "'pie5'" [pieValue] = "'68'"></app-dounut-single-color-chart>
    </div>

    <div class = 'content-tab'>
        <p>
            Lorem Ipsum is simply dummy text of the printing 
        </p>
    </div>

    <app-icon-message [className] = '"users-index-page"'></app-icon-message>

    <div class = 'content-tab'>
        <p>
            For example, when designing a brochure or book, a designer will insert Lorem ipsum text if the real text is not available.
        </p>
    </div>
    
</div>