<div class = 'title'>
    <p>Deine Financial Fitness</p>
    <!--
    <div class = 'chart' *ngIf = 'type === "pie"'>
        <div class = 'nexown-header-group'>
            <i class="fas fa-file-alt"></i>
            <div class = 'nexown-div-title'> Offer Performance </div>
        </div>
        <div class = 'body'><canvas id="pieChart" class = 'center' width="350" height="200"></canvas></div>
        <p> Top 4 as of August 4, 2019 </p>
    </div> -->
</div>

<app-dougnnut-financialfitness [data] = 'data'></app-dougnnut-financialfitness>