.analyticsSpace{
    position: relative;
    flex: 1;
    width: 100%;
  }
  .d3-chartmyChart{
    position: absolute;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    top: 20px;
    left: 20px;
  }
  
  .center-label, .legend {
    pointer-events: none;
  }
  
  .center-label .center-value {
    font-size: 32px;
    fill: #666;  
  }
  
  .center-label .center-text, .legend .percentage, .legend .revenue {
    font-size: 14px;
    fill: #666;
  }
  
  ul.campaign-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  ul.campaign-list li .campaign-legend {
    display: inline-block;
    width: 10px;
    height :10px;
    border-radius: 100%;
    margin-right: 10px;
  }
  
  ul.campaign-list li {
    color: #3967AC;
    padding: 20px;
  }
  
  ul.campaign-list li:nth-child(odd) {
    background-color: #f5f5f5;
  }
  
  ul.campaign-list li.selected, ul.campaign-list li:hover {
     text-decoration: underline;
     background-color: #E1F4FE !important;
     cursor: pointer;
  }