$accent-color: #E03322;

$sidebar-bg: #424242;
$grey-main: #f1f1f1;
$grey-main-darker: #DEDEDE;
$sidebar-text: #EEEEEE;
$page-save-color: #f5dada;
$page-payment-color: #DECEE3;
$page-increase-color: #b5d3e7;
$red: #FF4500;
$blue-green: #5ac8cc;

$font-title-size: 3rem;
$font-title-size-small: 2rem;
$font-main-content-size: 1.25rem;

$branche-color: #679F38;
$like-view-color: #9E9E9E;
$sub-title: #00000099;
$paginator: #F0F0F0;
$select-trigger: #E7E7E7;

$header-color: #000000DE;
$mat-list-item-bg: #DEDEDE;
$mat-list-item-color:#00000099;
$mat-list-item-document:#00B0FF;
$active-bar-status: rgba(103, 159, 56, 0.54);
$active-status: #679F38;
$box-shadow-color: rgba(0,0,0,0.16);
$back-color: #EF5350;
$no-id: #BDBDBD;
$interested-buyer: #757575;
$location: #558B2F;
$description: #616161;

$white: #FFFFFF;
$nexown-blue: #51A7DD;
$nexown-tab-space: 1rem;
$nexown-orange: #F57C01;
$nexown-red-light: #FFEBEE;
$nexown-red: #E43935;
$nexown-pink: #c2185b;
$nexown-violet: #7b1fa2;
$nexown-green: #7BB342;
$nexown-green-light: #F1F8E9;
