// 3.1 Color pallete 1 of 3
$C1: #0066cc;
$C2: #191919;
$C3: #FFFFFF;
$C10: #333333;
$C11: #4D4D4D;
$C12: #8D8D8D;
$C13: #BABABA;
$C14: #D3D3D3;
$C15: #E8E8E8;
$C16: #EFEFEF;
$C17: #FAFAFA;

// 3.1 Color pallete 2 of 3
$C20: #004EA3;
$C22: #CCE0F5;
$C23: #FFFF99;
$C30: #009966;
$C31: #FFC414;
$C32: #CC0033;

// 3.1 Color pallete 3 of 3
$CC11: #A0470A;
$CC12: #E26814;
$CC13: #B2046B;
$CC14: #6F0575;
$CC15: #015C63;
$CC18: #05AD75;
$CC19: #04A548;
$CC20: #508419;