@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./main.scss";

html {
  display: none;
  width: 100%;
  height: 100%;
  margin: 0; /* Space from this element (entire page) and others*/
  padding: 0; /*space from content and border*/
  overflow: hidden;
  display: block;
  box-sizing: border-box;
}

app-sidebar {
  display: flex;
}

app-root,
app-outlet,
app-users-index,
app-users-detail,
app-suppliers-index,
app-page-layout {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
}
app-users-index,
app-users-detail,
app-suppliers-index {
  padding: 0 1rem;
}

h1 {
  color: $C32;
}