@import '~@angular/material/theming';
@include mat-core();


/* ======== custom angular material base theme ======== */ 
$my-custom-primary: mat-palette($mat-red);
$my-custom-accent: mat-palette($mat-red, 100, 500, A100);
$my-custom-warn: mat-palette($mat-red);
$my-custom-theme: mat-light-theme($my-custom-primary, $my-custom-accent, $my-custom-warn);
@include angular-material-theme($my-custom-theme);


.dark-theme {
  color: #EEEEEE;
  $dark-primary: mat-palette($mat-red);
  $dark-accent: mat-palette($mat-amber, A400, A100, A700);
  $dark-warn: mat-palette($mat-red);
  $dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

  @include angular-material-theme($dark-theme);
}



/*custom global styling*/
@import "./main";

body{
  font-family: Roboto; padding:0; margin:0; background: #F0F0F0; overflow: hidden; color:rgba($color: #000000, $alpha: 0.6); min-width: 1024px;
}

.modal-controls{display: none;} 
/*elements*/
a, .primary{
  color: $accent-color; text-decoration: none;
}
a:hover{
  text-decoration: underline;
}

.text-right{
  text-align: right;
}

.column{
  display: flex; flex-direction: column; 
}

.row{
  display: flex; flex-direction: row;
}

.confirmation-modal .modal-controls{
  padding:5px 0 20px;
}

/*main container*/
.main-container{
  min-height: calc(100vh - 64px); display: flex;

  .page-title{color:#707070; font-size: 16px; margin:0; font-weight:normal;}
  .page-group-title{font: Medium 20px/26px Roboto; letter-spacing: 0.26px; color: #000000DE;}

  .sidebar{
    background: #fff;
    padding:10px; 
    text-align: left;
    font: Medium 14px/19px Roboto;
    letter-spacing: 0.09px;

    i{color:#FAFAFA; opacity: 0.42; margin-right:12px;}

    .divider-title{
      color: #FFFFFF; opacity: 0.42; text-transform: uppercase; letter-spacing: 1.56px; font-size: 13px; margin:15px;
    }
  
  }
  .contents{ overflow: unset; } 
  // .contents{flex:1; padding:20px 40px 20px 12px; overflow: auto; height: calc(95vh - 58px);}
  
}


/* Scrollbar Style */
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  // background: $nexown-red; 
}